[2015-01-30 22:20] thyrlian opened #1 "Images for README"
![0](https://cloud.githubusercontent.com/assets/352956/6310455/4d3c90c6-b957-11e4-8075-8fb7b63ea669.png)
![1](https://cloud.githubusercontent.com/assets/352956/6310452/4d38f40c-b957-11e4-820e-b3b5cfd54837.png)
![2](https://cloud.githubusercontent.com/assets/352956/6310454/4d3a83d0-b957-11e4-911a-a62e76b8024c.png)
![3](https://cloud.githubusercontent.com/assets/352956/6311996/999f2fcc-b96c-11e4-948

[2015-02-01 22:09] thyrlian opened #2 "To-Do List"
- [ ] complex layout (horizontal orientation)
- [ ] overload addValidation to support range validation
- [ ] return ArrayList<Boolean> instead of boolean at Validator#trigger() ???
- [ ] add more regex constants to RegexTemplate

[2015-03-01 21:41] rafaeltoledo opened #3 "Deploy to Maven Central"
This would be awesome to help developers to keep the library updated in their projects.

[2015-03-01 21:46] thyrlian commented on #3
Obrigado Rafael :)

Yes, I'm very happy to do so.  But before doing this, I'd like to fix the unit test structure under gradle (e.g. command line execution), or maybe plus something else I could fix / add in a short time.

[2015-03-22 11:31] MiguelCatalan commented on #3
How is this going? I'm very interested to see it at Maven Central :blush:

[2015-03-22 18:46] thyrlian commented on #3
Gracias Miguel.  Actually I'm still working on it, and have some problem with publishing it to Maven Central (e.g. I don't own the domain of the lib package name, so that I have to refactor it).  But I promise I'll try to make it in the next few days :)

Here is the ticket regarding Maven Central publishing.
[https://issues.sonatype.org/browse/OSSRH-14310](https://issues.sonatype.org/browse/OSSRH-

[2015-03-25 15:59] consulpro opened #6 "Gradle can't download your library"
I write " compile 'com.github.thyrlian:AwesomeValidation:3ef10cd2c8' ''
in my build.gradle file, but it prompts this:
"Failed to resolve: com.github.thyrlian:AwesomeValidation:3ef10cd2c8

Can anyone help me with this error?

[2015-03-25 16:30] thyrlian commented on #6
Sorry @consulpro .

I haven't tested if this import approach provided by Android Arsenal is working or not.  But if not, I'm still working on publishing it to Maven Central (will be done soon).  Actually now it's already on [jCenter](https://bintray.com/thyrlian/android-libraries/com.strohwitwer.awesomevalidation/view).  Maybe for the time being you could just try to use the jar, and later next we

[2015-03-29 22:25] thyrlian commented on #3
Just updated README, now it's fully working from JCenter, you could try adding below to your gradle's dependencies:
[code]

[2015-03-29 22:26] #3 closed

[2015-03-29 22:27] thyrlian commented on #6
Just updated README, now it's fully working from JCenter, you could try adding below to your gradle's dependencies:
[code]

[2015-03-29 22:27] #6 closed

[2015-04-02 06:40] linger1216 opened #7 "not empty validation"
have not empty validation

[2015-04-02 07:03] thyrlian commented on #7
Thanks for your great information, I'll check it later today :)

[2015-04-02 08:40] thyrlian commented on #7
I added a regex to RegexTemplate, you could use it for validating a field not being empty.

But before making another release to JCenter, I think you can just simply use `"^(?=\\s*\\S).*$"`.

Thanks.

[2015-04-02 08:40] #7 closed

[2015-04-02 14:16] linger1216 commented on #7
I have cellphone EditText.

the valid condition: not empty and only number and length = 11

mAwesomeValidation.addValidation((EditText)getView(R.id.cellphone), ???, "电话号码格式不正确");

Thanks a lot

[2015-04-02 14:33] thyrlian commented on #7
This regex should work:
"[0-9]{11}?"

Have fun :)

[2015-04-09 12:48] carstenbaumhoegger opened #8 "Offer the option to use validation in Fragments"
It would be great if this library would offer the option to simply use the `addValidation` methods in Fragments! :)

[2015-04-14 02:11] thyrlian commented on #8
Hello Carsten, thank you very much for your request.

In fact, you could directly use AwesomeValidation in either Fragment class or Activity class (with views from fragment).

Examples:
* if you want to validate in Activity class (very simple):
[code]

* if you want to validate in Fragment class:
[code]

Tested OK with Android 4.3 (API level 18).

[2015-04-14 02:11] #8 closed

[2015-04-14 06:53] carstenbaumhoegger commented on #8
Hello Jing,
thanks for the code samples, I tried to add the validation before onCreateView in Fragments, that was my (very stupid) fault :D
I really like this library, keep up the good work! :) :+1:

[2015-04-14 07:55] thyrlian commented on #8
Hello Carsten,
Good to know it works for you, and I'm really happy that you like it, thanks :)

[2015-05-20 08:37] mehdibaha opened #9 "Range for hours"
Hi,
I'm trying to implement a validation for a TimePickerDialog, and I didn't find a way to properly set a Range, while showing a nice text on the EditText.
Here's my code :
    mAwesomeValidation.addValidation(this, R.id.time, Range.closed(hour, hour +      MAX_DURATION_PARTY_IN_HOURS), R.string.err_time);
To resolve the issue, I have to set the EditText to just the "hour", and I noticed in the c

[2015-05-20 08:43] thyrlian commented on #9
Hi,

Thanks for your feedback.

Do you mean that actually you want to validate one view widget, and then show the visual feedback on another view?

Could you please upload a screenshot of your layout?  That may help me understand what exactly you wanna achieve.

Best,
Jing

[2015-05-20 08:47] spiritus1 commented on #9
I have an EditText, which shows a TimePicker when onClick, i want to show
the underline in the ET, based on TP, whild showing whayever I want in ET

On Wed, May 20, 2015, 10:44 Jing Li <notifications@github.com> wrote:

[2015-05-20 08:51] thyrlian commented on #9
OK, so you want to validate and show feedback on two different view widgets.

Sorry, I don't think it's possible to do what you want with the current version.  But I'll think about it after work or maybe during the weekend.

Thanks.

[2015-05-20 10:41] spiritus1 commented on #9
Thanks a lot !

On Wed, May 20, 2015, 10:51 Jing Li <notifications@github.com> wrote:

[2015-06-10 20:29] IgorGanapolsky opened #10 "Scroll to error field"
Is there a way to scroll and focus on the error field?  Right now, all invalid fields are red, but the page stays scrolled to the bottom when it's a long form.

Thank you,
Igor

[2015-06-10 21:07] thyrlian commented on #10
Hi Igor,

Thanks for your feedback.

In theory, yes, it's possible.  Shouldn't be too much code change.  I'll just try to add another API including an extra scrollToFirstError boolean parameter.

Actually at the beginning I thought about returning an ArrayList of invalid EditTexts to developers, then you can do whatever you want, including scrolling to any of them.

So I'll look into this later, n

[2015-06-10 21:30] IgorGanapolsky commented on #10
Thanks for making headway on this project.  @thyrlian Have some @changetip bitcoin $1 on me.

[2015-06-10 21:30] changetip commented on #10
Hi @thyrlian, @IgorGanapolsky sent you a Bitcoin tip worth 4,635 bits ($1.00), and I'm here to deliver it ➔ **[collect your tip](https://www.changetip.com/collect/856306)**.

**[Learn more about ChangeTip](https://www.changetip.com/tip-online/github)**

[2015-06-12 02:05] IgorGanapolsky opened #11 "NullPointerException"
I keep getting this error:

It doesn't specify which field it has trouble with.  How do I debug this error??

Igor

[2015-06-12 02:05] #11 closed

[2015-06-12 02:06] IgorGanapolsky commented on #11
It's caused because I forgot to manually set up validation on a new AwesomeValidation object.

[2015-06-14 05:51] thyrlian commented on #10
Hi Igor,

I just got time to take a look at the code.  Actually it turns out that there is already such a function.

Here is the code:
Validator.java
[code]

Without giving the scrollable container, it's hard to guess which parent is the right one to call scrolling method on.  In consideration of that, the code snippet above just simply **requests focus for the first failed EditText field**.

So c

[2015-06-14 16:00] IgorGanapolsky commented on #10
Actually, the code you are referring to just requests focus on the EditText.  However, in a long form (within a ScrollView), the user will not see this error unless they manually scroll up.  So my solution, in my own project, was to use `scrollTo(int x, int y)` with the y-coordinate of the edit field in question.

[2015-06-14 16:19] thyrlian commented on #10
Yes, that code just requests focus.  But I tried with the demo project, which also has a [ScrollView](https://github.com/thyrlian/AwesomeValidation/blob/master/demo/src/main/res/layout/activity_demo.xml#L24), when the view gets longer, triggering validation will set the focus - which makes it scroll to that failed EditText field automatically.

That's strange if it doesn't work for you.  While as

[2015-06-14 16:22] IgorGanapolsky commented on #10
Now that I look at it closely, you're right.  It does trigger the validation and scroll.

[2015-06-14 16:29] thyrlian commented on #10
Cool, so it works for you?

But in fact I lied to you ;)  Though it works for the demo project, while I found out there is a minor issue: the scrolling position is not exactly the beginning of the first failed field, but a few pixels down.  Do you know what could be the problem there?  Sorry for my laziness :P

[2015-06-15 16:55] IgorGanapolsky commented on #10
You don't really have a ScrollView for nesting your form elemenets.  Therefore, the system doesn't know what Y position to scroll to.

[2015-09-08 14:57] androiddev-smartside commented on #10
I suggest you mark this issue as solved, even if there's room from improvement.
People not following the whole discussion could be under the a false impression that's some sort of bug or important limitation.

[2015-09-08 15:00] #10 closed

[2015-09-08 16:27] thyrlian commented on #10
@androiddev-smartside thank you :)

[2015-09-08 17:14] androiddev-smartside commented on #2
Any plans for android.util.Pattern support or event custom validators such as the one linked below?

http://commons.apache.org/proper/commons-validator/apidocs/org/apache/commons/validator/routines/EmailValidator.html

[2015-09-09 10:20] thyrlian commented on #2
@androiddev-smartside Thanks for your valuable comments :)

`android.util.Patterns` already has `EMAIL_ADDRESS`, then I would say Apache's `EmailValidator` is covered by that.  And yes, good point, I'll try to support Android Patterns type directly as a parameter for `addValidation()` method.  Thanks for that.

Regarding password confirmation validation (check if two inputs match or not), I unders

[2015-09-09 11:53] thyrlian commented on #2
@androiddev-smartside
Done.  I've just pushed the commit for supporting android.util.Patterns.  But I don't have time now to release it on bintray.  Maybe I'll do it tonight.

[2015-09-16 21:00] thyrlian commented on #2
@androiddev-smartside
Just back from vacation, and released new version 1.1 to bintray, you can try it out.  Thanks.

[2015-09-17 13:25] androiddev-smartside commented on #2
Sounds great!

I was busy myself with another project but now I'm using this again and I will let you know how it goes.
What I can tell you so far is that because I want to make in to check in order from top to bottom and my form has numeric spinners in the middle, what I ended up doing was having 2 separate validators one for the fields that are above the spinners and another validator for the fi

[2015-09-17 13:37] thyrlian commented on #2
@androiddev-smartside

Regarding the **focus** issue, you could take a look at here:
https://github.com/thyrlian/AwesomeValidation/blob/master/library/src/main/java/com/basgeekball/awesomevalidation/validators/Validator.java#L79

As you can see from the code, it only set focus for you whenever valid fails, and it will set focus to first failed field.  So in theory, when the validation succeeds, it

[2015-09-17 14:08] androiddev-smartside commented on #2
Yeah, I haven't thought of how to integrate spinner validator, but maybe what could be useful is to have support for validation groups.
validator.addToGroup(0, MyField, "Some error");
That would make it trivial to run the validations in multiple steps, and it also would not change anything for ppl who have no such need.

[2015-10-25 14:39] kamilwlf opened #13 "add support for TextInputlayout?"
add support for TextInputlayout?

[2015-10-25 17:50] thyrlian commented on #13
Thanks @kamilwlf

Yes, I'd like to support **TextInputLayout**.  But since using **TextInputLayout** is different than using **EditText** (EditText should be wrapped in TextInputLayout), if I want to make it happen, I might have to change the library's architecture and some of the APIs.  The other fact is TextInputLayout has built-in floating label feature, so I have to disable my own UNDERLABEL s

[2015-12-15 13:15] boomsya opened #15 "when EditText show validation error tooltip in pager"
hi!

i have 2 pages. and i can scroll page to left and after that i have see second page

when i scroll - validation tooltip sticky to the left side of screen

i have attached img
![pic_2](https://cloud.githubusercontent.com/assets/8008462/11811526/a05df728-a33e-11e5-9099-addaca9798a3.png)
![pic_3](https://cloud.githubusercontent.com/assets/8008462/11811527/a06366ea-a33e-11e5-850f-dc324c933b19.png

[2015-12-15 13:34] thyrlian commented on #15
Hi @boomsya , thanks for using AwesomeValidation and your valuable feedback.

Please correct me if I get it wrong:
I assume that you are using ViewPager, and I think you want to dismiss the sticky tooltip when scrolling to the other page.  Then could you try to call `mAwesomeValidation.clear();` when `ViewPager.onScrollChanged`?

Because to me, each developer's implementation differs, I can't gues

[2015-12-15 14:04] boomsya commented on #15
sorry for not good English :)
yes, you right

can tooltip slide(move) with TextEdit synchronous over screen?

but your answer really help me too

[2015-12-15 14:29] thyrlian commented on #15
No problem :)

Now I completely understand the problem: **the tooltip doesn't move along with the screen**.

Hmmm, I'm afraid that we could do nothing about it.  Since the tooltip is from Android's code: `EditText.setError(CharSequence error)`.  You can check this [line](https://github.com/thyrlian/AwesomeValidation/blob/master/library/src/main/java/com/basgeekball/awesomevalidation/validators/Bas

[2015-12-15 15:06] boomsya commented on #15
thanks for helping to me

can i ask just one question?
i have EditText fields and when user clear (for example) seond field - i have event:
yourage_input.addTextChangedListener(new TextWatcher() {
            public void afterTextChanged(Editable s) {
                mAwesomeValidation.validate();   <<<<-----------------
            }
            public void beforeTextChanged(CharSequence s, int s

[2015-12-18 05:02] thyrlian commented on #15
Sorry that I just got time to read your comments.

To answer your question:
* I didn't think about validating fields one by one, that's why the ***checkFields*** method you found iterates all.
* The reason I did it this way is because I believe that validating all fields at once is the most common use case.  But you're right, sometimes we just want to trigger validation of one single field on its

[2015-12-21 12:17] #15 closed

[2016-01-27 19:06] fukhaos opened #16 "the NOT_EMPTY validation not accept NEWLINE"
Not works in edittext with multiline.

[2016-01-27 19:11] thyrlian commented on #16
@fukhaos Thank you for reporting :+1:
But could you please be more specific - which input did you give for the multiline enabled EditText, and what do you expect (validation pass or fail)?  Thanks.

[2016-01-28 10:26] fukhaos commented on #16
I type something like:
**Lorem ipsum dolor sit met,
consectetur adipiscing elit.**

and was validated like EMPTY.

I use this regex:
"^(\\s|\\S)*(\\S)+(\\s|\\S)*$"

and works.

[2016-02-04 14:15] thyrlian commented on #16
@fukhaos you are right.

RegexTemplate.NOT_EMPTY doesn't work for this case (**multilines EditText**), sorry that I haven't considered it at the beginning.

And I've tried your regex, it doesn't really work either :(

So I'll try to find a working one later.  Thanks.

[2016-02-08 19:31] gostik opened #17 "remove guava from dependencies"
Hi! I think it would be better to remove heavy guava dependency from project, because it has more than 17000 methods

[2016-02-08 19:38] thyrlian commented on #16
@fukhaos finally I spent some time and got it work.

The perfect regex for that should be: `(?m)^\\s*\\S+[\\s\\S]*$`

Please check the commit and corresponding unit tests (all are passed):
[NOT_EMPTY regex](https://github.com/thyrlian/AwesomeValidation/blob/7235a257c3b0462bed5c56c1577bda597021e431/library/src/main/java/com/basgeekball/awesomevalidation/utility/RegexTemplate.java#L5)
[UnitTest](htt

[2016-02-08 19:38] #16 closed

[2016-02-08 19:46] thyrlian commented on #17
@gostik Yes, I totally understand your point.

1. It only uses **_Guava#Range_**, in that case, importing the complete Guava is way too heavy.  But at that moment I could not find a better alternative.
2. Long while ago, I heard that there was a tricky way to **partially import** Guava, but because it was more like a dirty hack, I didn't really want to try it out.

Still, I agree with you, but nee

[2016-02-10 05:54] gostik commented on #17
Thanks for your reply!
Recently  faced with well known 65500  methods exceed problem
When i've  started investigation i found guava dependency at this lib and more than 16000 methods there. So even you use only Guava#Range only anyway it add complete Guava library.
Ok, i will take a look later at your code more precisely! Thanks

[2016-02-10 11:56] thyrlian commented on #17
I just tried [dexcount-gradle-plugin](https://github.com/KeepSafe/dexcount-gradle-plugin):
[code]

Yes, Guava has 13666 methods.  I may try [shrinkGuava](https://github.com/ligi/shrinkGuava) later.

[2016-02-10 16:59] gostik commented on #17
Thanks for your investigation!
yeap, i suppose it have a sense

[2016-03-15 07:18] nisrulz commented on #17
This I just stumbled upon [this](http://seeds.tribe7.net/) .

Looks like we can use `seeds-collect` to replace the fat guava dependency.
 The only drawback is it was updated last 2 years back and is a derived from guava v16.0, where as the latest version of guava in use is 19.0.

[2016-03-15 07:31] thyrlian commented on #17
Nice finding!  Thanks.

Unfortunately as you said the atomic library is not up-to-date, thus better not use it.

The best solution would be use some gradle / proguard tricks to extract necessary classes only, that's engineering perfect approach, and could be always up-to-date by just change the version number in configuration file.  But I don't know how to achieve that.

Other than that, we could

[2016-03-15 08:00] nisrulz commented on #17
Manual work is going to be a problem still because as it turns out the class `Range` includes `imports` which in turn include their own `imports`. You cannot simply isolate  the `Range` class.

Should be making a project to iterate over these via gradle tasks to verify the nested dependent classes and then package them into one, the same way I guess the other guy did. But here the requirement is o

[2016-03-15 09:13] thyrlian commented on #17
Yes, I don't like the manual approach.  But in fact, it's not an endless work.  Since Guava#Range only refers to a few **Guava#base** classes, plus an **annotation** class, and all the referred base classes only refer to base classes inside the same package `com.google.common.base`, they're well organized.

[2016-04-16 06:45] sahilbnishkrant opened #20 "We already have an EditText, can only have one Error"
Showing Me error when i call mAwesomeValidator.validate() method 2nd Time

[2016-04-16 06:52] thyrlian commented on #20
From my side, calling `validate()` more than one time doesn't have any problem.

Could you please be more specific about the details (some code, stacktrace and steps).

Thank you.

[2016-04-16 07:23] sahilbnishkrant commented on #20
its work fine when i used ValidationStyle.BASIC  but when i used  ValidationStyle.UNDERLABEL  its Crashed My App with Error
We already have an EditText, can only have one Error
even i put   EditText in  TextInputLayout

[2016-04-16 08:05] thyrlian commented on #20
Sorry, but I just tried with the demo app, it worked fine.

The demo app contains many `EditText` fields, what I've tried just now is:
1. Fill some of them with valid input;
2. Leave some of them blank (invalid);
3. Fill some with invalid input;
4. Choose UNDERLABEL style;
5. Click SUBMIT button many times (which calls `mAwesomeValidation.validate();`), and corresponding error messages show up;
6.

[2016-04-16 15:34] #20 closed

[2016-04-22 10:06] Chellll opened #21 "Validation negative numbers."
Valid.addValidation(MyEditText,Range.closed(-20000f,20000f),"Err");

In MyEditText i typed -5 and it didn't validate.

[2016-04-22 13:09] thyrlian commented on #21
Thanks for reporting, will check it later when I have time.

[2016-04-22 15:33] Chellll commented on #21
change pattern
public static boolean isNumberFormat(String text) {
return Pattern.compile("^-?\d+(\.\d{1,6})?$").matcher(text).find();
}

[2016-04-22 16:13] thyrlian commented on #21
Aha, so the problem is the negative number: the regex doesn't match the `minus`, right?

[2016-04-22 16:27] Chellll commented on #21
yes

[2016-04-22 16:42] thyrlian commented on #21
Sorry, then it's my bad, I'll correct it soon when I have time.  Sorry for any inconvenience.

[2016-04-25 14:48] thyrlian commented on #21
Solved by commit "[Support negative numbers and add more unit tests](https://github.com/thyrlian/AwesomeValidation/commit/358d9da95a75a908d37c9843078063809052273d)", all unit tests are passed.

[2016-04-25 14:48] #21 closed

[2016-05-07 10:42] thyrlian commented on #17
With this [commit](https://github.com/thyrlian/AwesomeValidation/commit/182bfa56bc7e773dd96bf88691f6eba2561eb1e2), the unnecessary classes from Guava are now stripped off.

Here are the latest results from dexcount-gradle-plugin:
[code]

[2016-05-07 10:42] #17 closed

[2016-06-12 13:52] thyrlian commented on #17
Just made another release v1.3.

The `consumerProguardFiles 'proguard-rules.pro'` is also required inside `library/build.gradle`.  This makes the application project merge library's ProGuard rules (which will strip unused Guava classes, and also Android classes).

Tested with [dex-method-counts](https://github.com/mihaip/dex-method-counts) on demo project's release APK:

[code]

[2016-06-12 14:16] thyrlian commented on #17
Thanks @mr-archano for the help of pointing out `consumerProguardFiles`.

[2016-08-09 16:18] MiguelChan opened #22 "Remove Guava Dependency"
Hi:

Guava dependency takes a lot of space when releasing a build. So having the Dependency is such a problem with the usage on an Android App.

It should be removed, so at least up to 4Mb of space can be saved up.

[2016-08-16 10:25] iRYO400 opened #24 "[Question] How to validate password confirm?"
Hi! Thanks for this library, it's the easiest to implement than others
Can you give tips/ideas, how to check two edittext for password confirm?

[2016-08-17 02:15] thyrlian commented on #24
@iRYO400 thanks for using it.  So far it doesn't support password confirm validation.  I'll think about adding this feature later on.  The problem is to support this, it requires fundamental API change.

[2016-09-21 10:06] hafsalrahman opened #25 "mAwesomeValidation.validate()"
` if (mAwesomeValidation.validate()) { `
//awsome validator implemented inside fragment, gives below error

[2016-09-21 10:32] thyrlian commented on #25
Could you please try to debug your app?  It seems like one of your `EditText` being validated is somehow null.

[2016-09-21 11:31] hafsalrahman commented on #25
I debugged and it seems fine, note: my fragments are inside View pager

[2016-09-21 14:17] thyrlian commented on #25
Sorry, I could not really tell you what the problem is without debugging the code from my side.  My thinking: using ViewPager should be OK; fragment is also mine (the demo also uses EditText inside fragment).  Maybe it's because of some Android lifecycle method causes the EditText being null at some point?  I understand you mentioned your EditText is not null during debugging.  But it might be som

[2016-09-22 06:42] hafsalrahman commented on #25
Now it is working fine when I updated my code.
## For your info

[2016-09-22 06:48] thyrlian commented on #25
Aha, this change makes sense.  Good to hear now it works for you :)

[2016-09-22 06:48] #25 closed

[2016-09-23 08:58] protectedMan opened #26 "It can not work with "support.design.widget.TextInputLayout""
if EditText surround with TextInputLayout,like this ->

[code]

This will trigger an exception ,Exception details：

[2016-09-23 09:04] thyrlian commented on #26
Sorry, this library doesn't support `TextInputLayout` so far.  I planned to make it compatible with `TextInputLayout` and its validation style, but this requires significant API changes, and I don't have any time yet.  Thanks for your information.

[2016-10-21 12:04] umutkinasolid opened #27 "how to support confirm email case"
I want to add confirm edittext if two edittext value not equal  I will show error message,

I think If I can show error message programmatically without any pattern I can do this  .

[2016-10-21 20:38] thyrlian commented on #27
Hi @umutkinasolid , this feature is not implemented yet, thanks for reporting.  It seems like many developers want this feature, I'll definitely work on this.

[2016-11-14 20:12] thyrlian commented on #27
Implemented by @Ilya-Gh (https://github.com/thyrlian/AwesomeValidation/pull/28).

[2016-11-14 20:12] #27 closed

[2016-11-14 20:15] thyrlian commented on #26
Duplicated as https://github.com/thyrlian/AwesomeValidation/issues/13

[2016-11-29 22:29] thyrlian commented on #26
Hi @protectedMan , I've been working on this feature last weekend, and just merged the feature branch to master.  It's well unit tested, and I plan to release it soon after updating README.  Thanks for your waiting and I'd be happy if you could try it out :)

[2016-11-29 22:31] thyrlian commented on #13
Hi @kamilwlf , sorry for the long waiting.  But I've been working on this feature last weekend, and just merged the feature branch to master.  It's well unit tested, and I plan to release it soon after updating README.  It would be great if you could try it out and tell me what else is missing or not working there.  Thanks in advance.

[2016-12-03 13:36] thyrlian commented on #26
Implemented by https://github.com/thyrlian/AwesomeValidation/pull/29

[2016-12-03 13:36] #26 closed

[2016-12-03 13:36] thyrlian commented on #13
Implemented by https://github.com/thyrlian/AwesomeValidation/pull/29

[2016-12-03 13:36] #13 closed

[2016-12-04 10:51] #1 closed

[2017-01-16 08:29] sunil-singh-chaudhary opened #30 "Error adding validation"
Caused by: java.lang.UnsupportedOperationException: Failed to resolve attribute at index 24: TypedValue{t=0x3/d=0x13a "res/color/secondary_text_material_light.xml" a=1 r=0x106011a}

on this line
    if (awesomeValidation.validate()) {}

[2017-01-22 12:04] thyrlian commented on #30
It doesn't seem like the exception is thrown by the library (it never use or refer to `secondary_text_material_light`).  Could you please check again on your code side or share more stacktraces?  Thanks.

[2017-01-28 06:51] #30 closed

[2017-04-05 00:38] atiaco2000 opened #31 "How do I add this library to my android project in eclipse?"

[2017-04-05 00:38] atiaco2000 commented on #31
I can not find a way to add this library to my android project in eclipse

[2017-04-05 03:47] thyrlian commented on #31
Sorry but it shouldn't be too much different from AndroidStudio.

Do you have **JCenter** repo included?

[code]

And also with the library added to your gradle dependencies?

[code]

That should be it.

[2017-04-05 06:26] atiaco2000 commented on #31
I don't see any Grande in eclipse. Do you have the Jar file for this library?

Sent from my iPhone

[2017-04-05 07:45] thyrlian commented on #31
Yep, you can find it [here](https://bintray.com/thyrlian/android-libraries/com.basgeekball.awesomevalidation/2.0#files/com/basgeekball/awesome-validation/2.0).  Just navigate to **Files** tab.

[2017-04-05 10:25] #31 closed

[2017-04-06 00:13] atiaco2000 commented on #31
I did add the jar file to my project but somehow it is unable to use

[2017-04-06 08:24] thyrlian commented on #31
Sorry, my bad, the jar file there is indeed useless.

But you can try with attached jar file below (please unzip it to use).  Tested OK with Android Studio + gradle (`compile fileTree(dir: 'libs', include: '*.jar')`).

The **jar** file is actually converted from the **aar** file (which you can download from previous link).  Steps are pretty easy, you can do by yourself:
1. `unzip awesome-validatio

[2017-04-21 18:57] mikecoppola16 opened #32 "Custom Validators?"
So I can a add param as a class to handle complex validation? If not is there a way to validate age from a date string such as 10/20/1985?

[2017-04-23 17:51] thyrlian commented on #32
Initially, I thought if someone use `DatePicker`, the number / date selected from there should always be valid by itself.  But in your case, if you want to validate the age based on a String, I guess you could use Regex to check if the year is less than 19xx, if equals 19xx, month and date should be earlier than some date.  Actually this is a bit too trivial, I need to think about this scenario.

[2017-06-15 15:45] podybman commented on #32
You might want to validate date1 < date2 < now for example

[2017-06-19 06:21] thyrlian commented on #32
Need more details.

If it's not a `DatePicker`, what would it be?

1. A `EditText` with `android:inputType="date"`.  This only guarantees the numeric keyboard, but the input result could still be any non-date format / order.  In that case, the validation process would be:
    * Check if it's valid date type, when not -> throw error: "Not a date format";
    * When yes, convert it to [`Date`](https

[2017-07-09 12:46] matiit opened #33 "UNDERLABEL doesn't work on relative layout"
![device-2017-07-09-134358](https://user-images.githubusercontent.com/138194/27994015-ba2b1b64-64ac-11e7-9622-4f1525d45341.png)

For given layout:

[code]

[2017-07-09 12:47] thyrlian commented on #33
Thanks for reporting, will check it later.

[2017-08-14 14:20] regifr opened #34 "Double Validation with different Error String"
can I use two or more validator in one TextInputLayout

`
validator.addValidation(this, R.id.tilEmail, RegexTemplate.NOT_EMPTY, R.string.err_email_null);
validator.addValidation(this, R.id.tilEmail, Patterns.EMAIL_ADDRESS, R.string.err_email);
`

while the tilEmail is EMPTY the error just showing Patterns.EMAIL_ADDRESS with err_email not err_email_null

[2017-08-17 06:20] thyrlian commented on #34
@regifr
* Yes, it doesn't support multiple validations on one field.  So in your case, the new one will overwrite the old one.
* The idea is to wrap all validation rules into one Regex, and bind it with a field.  And I've confirmed, `Patterns.EMAIL_ADDRESS` has already included validation for empty input.  Thus you don't need `RegexTemplate.NOT_EMPTY`.

[2017-08-21 07:12] rajeshkumarkhadka opened #35 "TextInputLayout validation doesn't work."
It doesn't work with the TextInputLayout validation.
Implementation:
`
**Java Code**
[code]

**XML*
[code]

[2017-08-21 08:23] thyrlian commented on #35
Could you please provide more details?  E.g. layout xml, code, screenshot?  Thanks.

[2017-08-21 09:24] rajeshkumarkhadka commented on #35
@thyrlian I have updated above. Please have a look above.

[2017-08-21 11:41] thyrlian commented on #35
Thanks @rajeshkumarkhadka.  Could you please tell me what's exactly wrong with the behavior?  Any log?  Any screenshot?  Does the `getActivity()` return the right activity back?  How do you trigger the `awesomeValidation.validate()` (in some onClickListener)?

[2017-08-22 10:23] #34 closed

[2017-08-23 19:17] obernal commented on #35
I'm seeing this problem too while testing validation with TextInputLayout. `getActivity()` returns the right activity as it is the Fragment's `getActivity()` method. Perhaps the problem is using the library from inside a fragment?

As to what are the symptoms of it not working, basically the problem is `mAwesomeValidation.validate()` is always true despite having added the proper validation so obv

[2017-08-23 20:36] thyrlian commented on #35
Thanks @obernal for sharing your ideas.

* Actually fragment is not a problem, I use it also in the [demo](https://github.com/thyrlian/AwesomeValidation/blob/master/demo/src/main/res/layout/activity_demo.xml#L52) app
* Good to know that the `activity` passed in is the right one, when not sure, better check with debugger
* I remember now that someone else also had a similar problem - always return

[2017-08-23 21:11] rajeshkumarkhadka commented on #35
@thyrlian I have used fragment's ```onCreateView``` method. I didn't find any logs related to the library.

[2017-08-23 21:15] thyrlian commented on #35
Thanks @rajeshkumarkhadka. Would you please try move the code to another place other than `onCreateView` (something later)?

[2017-08-23 21:20] rajeshkumarkhadka commented on #35
@thyrlian works on ```onActivityCreated``` 👍 .

[2017-08-23 21:23] thyrlian commented on #35
@rajeshkumarkhadka cool, glad to hear it's working now.  As said before, if the activity is OK, most likely the view to be validated is not available yet at the given lifecycle call.

[2017-08-27 09:30] #35 closed

[2017-08-27 09:32] thyrlian commented on #22
[UsingProGuardWithGuava](https://github.com/google/guava/wiki/UsingProGuardWithGuava)

[2017-08-29 13:49] MatthieuFereyre opened #36 "Custom color for UnderLabel mode"
It could be nice to allow the change of error color in underlabel mode (as in coloration mode).

[2017-08-29 13:54] thyrlian commented on #36
Thanks @MatthieuFereyre.  You mean [this one](https://github.com/thyrlian/AwesomeValidation/blob/master/library/src/main/java/com/basgeekball/awesomevalidation/validators/UnderlabelValidator.java#L52)?

It's just a little weird to me if I see any error color other than red (just like the default error label of Android is red too).

But yes, I can change it to allowing setting different color (as y

[2017-08-29 14:08] MatthieuFereyre commented on #36
Yes exactly. The code to add is almost the same as the coloration mode.

[2017-08-29 14:22] MatthieuFereyre opened #37 "Don't validate invisible or gone fields"
When a field is gone or invisible, it is impossible for the user to fill it.
Maybe it is possible to don't validate it ?

Validator.java; Method checkFields :

[code]

[2017-08-29 14:27] thyrlian commented on #37
Good question.  Would you please share a use case?  I thought a field is always visible until the validation passes (then the whole view which contains the fields to be validated will be gone).

[2017-08-29 14:31] MatthieuFereyre commented on #37
Imagine a form with a spinner representing an identity piece type. You can select none/driver licence/id card. If the user select something different than "none", you show a field to type the serial number for exemple.

[2017-08-30 07:16] aj019 opened #38 "AwesomeValidation not working inside Fragment"
I am trying to use awesome validation in a fragment and it doesn't seem to work. I have previously used it in an activity and it works.

[2017-08-30 07:46] thyrlian commented on #38
Hi @aj019, it should work with Fragment.  Please check the [comments](https://github.com/thyrlian/AwesomeValidation/issues/35#issuecomment-324466006) here.  Usually moving the `validate()` method from `onCreateView` to `onActivityCreated` would make it work.  Thanks.

[2017-08-30 07:52] aj019 commented on #38
Thanks @thyrlian  using onActivityCreated solved the problem

[2017-08-30 07:52] #38 closed

[2017-08-30 07:54] thyrlian commented on #38
Cool @aj019 good to hear that.  I'll try to mention this in README.  Thanks again.

[2017-09-07 06:19] vinc4 opened #39 "Radio Button Validation"
Validate Radio Buttons

[2017-09-07 06:22] thyrlian commented on #39
Hi @vinc4, thanks for the proposal.  Would you mind giving more details - How it should look like?  How to design the API?  That would be great.  Of course I can take some time to think about it.

[2017-09-07 06:24] vinc4 commented on #39
i cant validate Radio buttons and please help me how to validate username
textbox i just dont want it to be empty i do want it to have characters
also

On Thu, Sep 7, 2017 at 8:22 AM, Jing Li <notifications@github.com> wrote:

[2017-09-07 06:26] thyrlian commented on #39
Radio button is not supported so far.
Regarding username, could you please attach your layout.xml?

[2017-09-07 06:44] vinc4 commented on #39
its fine i had to validate my username using String regexUsername =
"^[a-z0-9_-]{3,15}$";

On Thu, Sep 7, 2017 at 8:24 AM, Vincent Map <vincentmap@gmail.com> wrote:

[2017-09-07 08:42] thyrlian commented on #39
So username validation is working for you?

[2017-09-07 09:59] vinc4 commented on #39
Yes it is , thanks for your liblary i love yo work keep making more

On 07 Sep 2017 10:42 AM, "Jing Li" <notifications@github.com> wrote:

[2017-09-07 10:05] thyrlian commented on #39
Thank you for your compliment, I'll keep on improving :)

[2017-09-07 10:05] #39 closed

[2017-09-13 04:18] DhinakaranSDK opened #40 "How to use in Fragment"
In Activity working fine. But how to Implement in Fragment. Tried but not working.

[2017-09-13 04:56] thyrlian commented on #40
Hey, you can find **Fragment** usage guide in **README** as described like below:

[2017-09-13 07:19] DhinakaranSDK commented on #40
@thyrlian Thankyou. Working fine

[2017-09-13 07:19] #40 closed

[2017-09-13 07:19] thyrlian commented on #40
@DhinakaranSDK did you get a chance to try?

[2017-09-13 07:20] thyrlian commented on #40
@DhinakaranSDK cool, good to hear that.

[2017-09-14 19:36] mr-day commented on #37
same here, sometime i passed some id to invisible edittext

[2017-09-14 21:14] thyrlian commented on #37
Thanks @mr-day for the input, I'll start to work on this after I finish another issue with ConstraintLayout.

[2017-09-14 22:58] mr-day commented on #37
Nice, I'm glad to hear that :)

[2017-09-18 06:38] Pinaki93 opened #41 "Add option to clear individual error on text changed"
I'm using `ValidationStyle.UNDERLABEL` as my validation style.

Now as far as I could explore , I could find a method to clear error from all the form fields:
`mAwesomeValidation.clear();`

However, I am not able to remove error from a single EditText. My requirement is, when a user starts typing in an EditText field, it should remove the under label error. I've tried using `setError(null)` on the

[2017-09-18 07:30] thyrlian commented on #41
Hi @Pinaki93, thanks for the feedback.

I understand what you mentioned above, but unfortunately it's not supported so far.  It's about UX, different people might have different opinion.  I think it's OK that I've chosen clear all as default instead of clear individual.  But it's my fault if I don't provide clear individual as an option.  Sorry for that.  I'll put this to my TODO list.

I would li

[2017-09-18 07:32] thyrlian commented on #41
This feature has been added to TODO list.

[2017-09-18 07:32] thyrlian commented on #37
This feature has been added to TODO list.

[2017-09-20 22:08] pixma commented on #35
I am trying to use this library with -

support.design.widget.CoordinatorLayout as Root Layout.

EditText is wrapped by TextInputLayout and there is no fragment implemented.
Its just in One simple activity and its crashing at "validate()" method

Msg monitor shows:
"invoke virtual method 'void android.support.design.widget.TextInputLayout.setError(java.lang.CharSequence)' on a null object referenc

[2017-09-21 00:35] thyrlian commented on #35
@pixma
* From the README's sample code, you'll find below instruction:
[code]
* From the demo app, this library works perfectly with both activity and fragment.
* According to your log, it seems like the `TextInputLayout` you passed in is somehow null.  Please try to debug about this object.

[2017-10-10 11:09] rohitbhoite opened #42 "How to Add validation on dynamically added fragment editttext"
I am working on an android app In which similar Fragments(each fragment containing some edit-texts) are added to activity pro-grammatically. I want to validate all fragment edit text data on activity button click event so that all data can be validated.How this can achieved?

[2017-10-10 11:14] thyrlian commented on #42
I think you should add the validation (e.g. `mAwesomeValidation.addValidation(...)`) right after you add the fragment programmatically.

[2017-10-10 18:29] thyrlian commented on #42
@rohitbhoite if there is no further problem, I'll close this ticket in 24 hours.  Thanks.

[2017-10-12 07:15] #42 closed

[2017-10-19 22:15] CROSP commented on #22
Great library, it is a really important problem I got Dex Overflow exception after including this library.  Unfortunately for now I am not able to use MultiDex therefore try to get rid of this dependencies or just copy required parts.

[2017-10-23 06:36] rnitame opened #43 "Focus runs away ... :("
[![https://gyazo.com/c41f51d2253ea5dbef0dcdb0d290c252](https://i.gyazo.com/c41f51d2253ea5dbef0dcdb0d290c252.gif)](https://gyazo.com/c41f51d2253ea5dbef0dcdb0d290c252)

[code]

`validation.validate()` is fired on TextWatcher#afterTextChanged
Is there a solution?

[2017-10-23 06:37] rnitame commented on #43
If the validation succeeds the focus moves ... ? 🤔

[2017-10-23 06:47] thyrlian commented on #43
Hi @rnitame, thanks for reporting the issue (I like the recorded video, shows clearly the problem).

But sorry that this is actually by design: in the [library code](https://github.com/thyrlian/AwesomeValidation/blob/master/library/src/main/java/com/basgeekball/awesomevalidation/validators/Validator.java#L161), I force to set the focus to the first invalid field, so that the user could start to re

[2017-10-23 07:18] rnitame commented on #43
oh... I see!
I cover with development :)

[2017-10-23 07:24] thyrlian commented on #43
Cool, hope it's not annoying to you.  Have fun with your project 👍

[2017-10-23 07:26] thyrlian commented on #22
Hi @CROSP, thanks for your comments.  Sorry to hear that.  Yes, I'll try to remove the huge Guava lib, unfortunately it's not as easy as a copy-paste, they are tons of complicated references here and there.

[2017-10-23 07:39] rnitame commented on #43
Thanks! This issue will close :)

[2017-10-23 07:39] #43 closed

[2017-10-23 11:20] CROSP commented on #22
@thyrlian Thank you for response, you may try to find an alternative library providing required functionality. I have added the guava dependency a lot of times in my project, hoping it wouldn't overflow, but every time I ended up with removing Guava and copying necessary functions.

[2017-10-24 13:54] jsneo commented on #41
Have managed to do a quick workaround by clearing and validating the EditText on focus change.
`@OnFocusChange(R.id.text_business_name)
    public void changeBusinessNameFocus()
    {
        revalidate();
    }

    @OnFocusChange(R.id.text_address)
    public void changeAddressFocus()
    {
        revalidate();
    }

    public void revalidate()
    {
        awesomeValidation.clear();

[2017-10-26 16:06] myeduapp opened #44 "Required validation on ImageView"
I have used the library to validate Text-views in my android application.How to add Required validation for image view?(i.e if the image is not selected before submitting it should show error like profile image is required?).Is it possible to achieve by using this library?

[2017-10-27 15:12] myeduapp commented on #42
@thyrlian  Please excuse me for late reply.
FragmentTransaction fragmentTransaction = fm.beginTransaction();
        fragmentTransaction.add(R.id.homework_template, frag, "fragment_one");
        fragmentTransaction.commit();

This is how I am adding fragment from activity.
Multiple similar fragments can be added by user.
I want to validate all fragment data on button present on activity.Please he

[2017-10-27 15:18] thyrlian commented on #42
@myeduapp no problem.  I don't think there is any problem.  You just need to `addValidation` for all the input fields one by one after `fragmentTransaction.commit();`.  That's it.

[2017-10-27 15:30] myeduapp commented on #42
mAwesomeValidation.addValidation((TextInputLayout) frag.getView().findViewById(R.id.til_homework_description),".+","Error");
I have above code after  fragmentTransaction.commit();
I am getting attempt to invoke virtual method findviewbyid on a null object reference error.

[2017-10-27 15:39] thyrlian commented on #42
So this is nothing to do with the library.  It's because your `frag.getView()` is just `null`.

I suggest you to check your fragment's lifecycle calls, move the code to a place where the view is valid.  Also as a reference, to use this library properly with fragment, you need to do as mentioned in README:

Hope it helps and good luck.

[2017-10-27 15:50] myeduapp commented on #42
Right now my validation code is inside activity if I move it to the fragment level How can I validate  all fragment data on single button click ?

[2017-10-27 16:20] thyrlian commented on #42
Actually you don't have to differentiate between activity and fragment.  This library doesn't care.  As long as you pass the correct view (not null object), it will do its job.  The only thing you need to pay attention is as I said, move the code to the correct lifecycle call place, so that the view object is not null.

[2017-10-28 20:30] htabi23 opened #45 "How can I make a field optional and still have validation if filled?"

[2017-10-29 09:50] thyrlian commented on #44
Sorry, but this is not supported at the moment.

[2017-10-29 09:53] thyrlian commented on #45
Hi @htabi23 , this is actually easy.  You can define a regex, which allows empty string, and also validate some specific pattern.

[2017-10-30 10:25] #45 closed

[2017-11-01 21:58] Acrunam opened #46 "add support for appcompat-v7:25.3.1"
To use the password confirm feature as below:

mAwesomeValidation.addValidation(this, R.id.editText5, R.id.editText4, R.string.err_password_confirmation);

The user is forced to downgrade from "appcompat-v7:25.3.1" to "appcompat-v7:25.0.1"

[2017-11-02 23:00] #46 closed

[2017-11-28 17:26] lordplagus02 opened #47 "Override for TextInputLayout seems broken"
I am attempting to do something like the following, assuming `_clientNameInputLayout` has been initialized:
`addValidation(_clientNameInputLayout, RegexTemplate.NOT_EMPTY, R.string.field_required)`
but I'm getting this error:

However, if I do the following:
`addValidation(_clientNameInputLayout, RegexTemplate.NOT_EMPTY, "This field is required")`
the compiler is happy.
Surely my initial statement

[2017-11-28 18:14] lordplagus02 commented on #43
I honestly think this should be up to the developer and the business rules of the application. If you can't validate as you type because the focus runs away, people are going to get confused because there will still be error messages until they try hit submit.

[2017-11-29 04:21] thyrlian commented on #43
@lordplagus02 I agree with you, this should leave the decision to developer.  I'll try to change the API design in the future, make the "requestFocus for the first failed field" as a boolean option in the initialization method param.  How does that sound?

[2017-11-29 04:27] thyrlian commented on #47
It's by design.

You can either pass the **resource ID** for both the field and error message, like this:

[code]

Or pass **object** for both the field and error message, like this:

[code]

But unfortunately you can't not pass them in a mixed way like what you did at the first try.

[2017-12-03 08:14] #47 closed

[2017-12-15 04:17] kcdhaker1987 opened #48 "How to add multiple validations"
I want to add two validations like first one is RegexTemplate.NOT_EMPTY and second one is required length
but it's showing only second validation message on validate , but i want to saw only first  RegexTemplate.NOT_EMPTY message if field is empty.

How can i do this?

[2017-12-15 09:29] thyrlian commented on #48
Hi, you can directly use regex to meet you requirement (don't add multiple validations for one field separately, the last one will override all before).  So just combine `NOT_EMPTY` and `LENGTH_LONGER_THAN` into one regex would work.

[2017-12-15 09:29] #48 closed

[2017-12-18 07:38] keshavbhusal1 opened #49 "awesomeValidation doesnot work on fragment..."
@Override
    public View onCreateView(LayoutInflater inflater, ViewGroup container,
                             Bundle savedInstanceState) {
        // Inflate the layout for this fragment
        mainView = inflater.inflate(R.layout.fragment_feedback, container, false);

        initView();

        return mainView;
    }

    private void initView(){

        editEmail = (EditText) mainView.fi

[2017-12-18 08:45] thyrlian commented on #49
Hi @keshavbhusal1 , it's not an issue.  Please check the README of how to use it properly with Fragment.  Thanks.

Good luck and have fun :)

[2017-12-18 08:45] #49 closed

[2017-12-18 10:01] lordplagus02 commented on #47
What is the reasoning behind this design choice?

[2017-12-18 10:42] thyrlian commented on #47
The reason is:
* Either you have the `context`, then you could simply pass the resource `id` and `string`, the library code would get the resource on behalf of you.
* Without knowing the `context`, you just pass the view object itself and the validation message string.

Thanks.

[2017-12-19 13:08] keshavbhusal1 commented on #49
thank you it work for me

On Mon, Dec 18, 2017 at 2:30 PM, Jing Li <notifications@github.com> wrote:

[2017-12-19 15:49] thyrlian commented on #49
Cool, good to hear :)

[2018-01-02 21:50] thyrlian commented on #33
Apart from copying the `LayoutParams`, I also tried to copy the `ConstraintSet` for each view inside the `ConstraintLayout` (and then later apply them to corresponding new container view).  Unfortunately this approach doesn't work.  After checking the source code of `ConstraintSet`, I found the cause:

[code]

The relationship HashMap `mConstraints` holds each view's id as the key, that's why simp

[2018-01-14 19:31] thyrlian commented on #33
Tried to hack by setting new container's id to `EditText`'s id, then giving `EditText` a new id, assuming this would hand over all constraints from `EditText` to its new container parent.  But unfortunately it doesn't work either :(

[code]

[2018-01-14 20:02] thyrlian commented on #33
The private member `mConstraintSet` of `ConstraintLayout` is also null:

[code]

[2018-01-15 07:08] thyrlian commented on #33
Sorry @matiit, finally I gave up - spent too much time on it but could not find a solution, it's way too complicated.

Created and merged a PR: https://github.com/thyrlian/AwesomeValidation/pull/50

In this PR, when the application tries to use `UNDERLABEL` for `ConstraintLayout`, a `UnsupportedLayoutException` will be thrown with message:

And in the demo project, I changed the `TextInputLayout`

[2018-01-18 10:16] sondangpangaribuan opened #51 "error getColor()"
hi.. get error like this
Process: com.belisip.affiliate, PID: 10687
                  java.lang.NullPointerException: Attempt to invoke virtual method 'int android.content.Context.getColor(int)' on a null object reference
                      at android.support.v4.content.ContextCompatApi23.getColor(ContextCompatApi23.java:32)
                      at android.support.v4.content.ContextCompat.getC

[2018-01-21 16:50] thyrlian opened #52 "Optimize UNDERLABEL"
* Set a tag when adding container
* If match, no need to add new container

[2018-01-23 20:00] thyrlian commented on #36
Implemented by [commit](https://github.com/thyrlian/AwesomeValidation/commit/fc669c30cdd8fef2650894cc574da885704cf564)

[2018-01-23 20:00] #36 closed

[2018-01-23 22:17] thyrlian commented on #51
Hi, this is clear that the `context` is null.

I guess you are using `UNDERLABEL` validation style, and probably forget to set context by:

[code]

[2018-01-25 17:22] #51 closed

[2018-01-25 17:23] thyrlian commented on #37
Implemented by [commit](https://github.com/thyrlian/AwesomeValidation/commit/33e8af9a0d7e0872749d28c1a1ac8281feca8350).

[2018-01-25 17:23] #37 closed

[2018-01-27 17:37] thyrlian commented on #52
Invalid point, already doing similar stuff.

[code]

And in `halt()`, it does `restoreViews()` which would remove the container.

[2018-01-27 17:37] #52 closed

[2018-01-28 19:22] AminMahboubi commented on #32
You can! Try to use the CustomValidation with your own validation.
This is how:

`mAwesomeValidation.addValidation(activity, R.id.edt_birth, new CustomValidation() {
    @Override
    public boolean compare(String input) {
        try {
            new SimpleDateFormat("dd/MM/yyyy", Locale.US).parse(input);
            return true;
        } catch (Exception e) { return false;}
        return fals

[2018-01-28 22:03] thyrlian opened #54 "ColorationStyle's SpanHelper.reset(editText) causes cursor mess"
In `ColorationValidator`
inside `public void halt() {`
`SpanHelper.reset(editText);` which would call `editText.getText().clearSpans();`

It causes cursor mess.

[2018-01-28 22:07] thyrlian commented on #41
Implemented by [commit](https://github.com/thyrlian/AwesomeValidation/commit/98dd5286a69e1d79aad8e5e0b2c1a955e9256c9e).

I didn't provide an option, just do this by default.  Because I've checked the default behaviour of `EditText.setError("...")`, it disappear on text changed.

[2018-01-28 22:07] #41 closed

[2018-01-28 22:08] thyrlian commented on #41
Did this for both UnderlabelStyle and ColorationStyle.

[2018-01-28 22:09] thyrlian opened #55 "Fix wrong ColorFilter for EditText's background (UnderlabelStyle)"

[2018-01-30 12:31] thyrlian commented on #54
Fixed by [commit](https://github.com/thyrlian/AwesomeValidation/commit/7c94d30ceb9dbfb04dd2ec7fed70d26c733dc60f).

[2018-01-30 12:31] #54 closed

[2018-02-02 06:44] thyrlian commented on #32
[PR](https://github.com/thyrlian/AwesomeValidation/pull/53) is merged to master.

[2018-02-02 06:44] #32 closed

[2018-02-04 12:58] #55 closed

[2018-02-04 13:49] thyrlian commented on #55
Fixed by [commit](https://github.com/thyrlian/AwesomeValidation/commit/d7491ee5103e67956599b821b85682de7bdb1a45).

[2018-02-06 11:00] TasTugberk opened #56 "Can not set Compound Drawable"
I can set compound drwables onCreate, and also I change the drwable resource file on button click, but after calling validate method, I can not change the drawable resource. Can you help me, I used COLORATION validator, is it the reason ?

[2018-02-06 11:59] #56 closed

[2018-02-08 10:31] lordplagus02 opened #57 "Validation of Spinner/Spinner selection"
Is it possible to validate a spinner widget directly? Trying to make sure the user selects an item from the dropdown before the form can be submitted.

Maybe I should use an invisible EditText? Or is there a more elegant solution?
Passing the spinner to the validation method by Id seems to compile and run, but nothing actually happens (which I kind of expected).

[2018-02-09 08:14] thyrlian commented on #57
Hi @lordplagus02 sorry that validation of spinner is not supported so far.  Initially I thought spinner always have valid options provided by developer (but didn't think about the empty case).

I'll think about it to see if I can add this feature soon or not.  Thanks.

[2018-02-14 15:43] thyrlian commented on #57
Implemented by [commit](https://github.com/thyrlian/AwesomeValidation/commit/a25ce13b40c3fb44e9571f2bcbb5488a70a56765).

[2018-02-14 16:01] thyrlian commented on #57
Now I've provided a completely flexible way of validating `Spinner`, or any kind of `View`.

You can simply do:

[code]

or

[code]

The reason why I made so many custom code blocks, ask you to define on your own, is because of:

* It's flexible, can apply to any `View`;
* As you can see from this [thread](https://stackoverflow.com/questions/867518/how-to-make-an-android-spinner-with-initial-text-

[2018-02-14 16:01] #57 closed

[2018-02-14 16:15] lordplagus02 commented on #43
Woops only saw this now. That sounds like a good idea. I have a feeling most people will choose `true`, so perhaps this should be made default behaviour, allowing us to turn it off with `false`?

[2018-02-14 16:47] thyrlian commented on #43
Yes.

[2018-02-17 17:42] thyrlian commented on #9
Now you can use `CustomValidation` to achieve the goal :)

[2018-02-17 17:42] #9 closed

[2018-02-17 17:43] thyrlian commented on #44
Now you can use `CustomValidation` to achieve the goal :)

[2018-02-17 17:43] #44 closed

[2018-02-17 18:56] thyrlian commented on #43
Implemented by [commit](https://github.com/thyrlian/AwesomeValidation/commit/81b985be1ab92548cdb1c0664206c7fc180104f2).

And mentioned usage in README:

[code]

[2018-02-17 19:35] lordplagus02 commented on #43
Awesome, I'll try it out ASAP.

[2018-02-19 15:25] lordplagus02 opened #58 "Label space not removed after invalid to valid state"
Me again. I'm using the TextInputLayout style in this case.

Upon failed validation, the red labels appear below fields as they should, however when the user inputs valid data, if there are still validation errors, the space where the valid field's error label used to be doesn't close or disappear, causing an unwanted gap between fields in my LinearLayout dialog form.

Here is a screenshot, whereb

[2018-02-19 15:29] thyrlian commented on #58
Hi @lordplagus02, yes, it's a known issue.  And actually it's an issue from `TextInputLayout` side, I didn't do anything special to create / remove the space.  So far I don't really know how to solve the problem, but I promise I would try my best.  Thanks.

[2018-02-19 15:30] thyrlian commented on #58
Or if you can't live with the annoying space any more, you could try `UNDERLABEL` style :)

[2018-02-19 18:13] thyrlian commented on #58
Sorry @lordplagus02, turned out an easy fix:

`textInputLayout.setErrorEnabled(false);`

Fixed by [commit](https://github.com/thyrlian/AwesomeValidation/commit/eb089aa49e7ea76547917cda845c642f75d92621), will be released soon with v4.1

Thanks and have fun :)

[2018-02-19 18:13] #58 closed

[2018-02-23 08:44] sarbogast opened #59 "How to simply say that a field is required?"
For most of my textedit fields, the only constraint is that they cannot be blank. Is there a way to simply specify that constraint, without going through an overkill regex? Because I didn't find any example of that in the sample app, or in the README.

[2018-02-23 10:02] thyrlian commented on #59
True, in that case regex is a bit overkill :(

Would you mind creating a PR, with an enum type let's say `NOT_EMPTY`, and API like this?

[code]

Thanks.

[2018-02-23 11:30] sarbogast commented on #59
I'm too much of a noob in Android dev to propose any kind of PR, but that would be nice indeed. :-P

[2018-02-23 12:24] thyrlian commented on #59
No problem, I'll try it when I have time.  But for the time being, please keep on using the annoying regex.  Thanks :)

[2018-02-24 07:27] thyrlian commented on #22
I can no longer find any issue.

[code]

[code]

[2018-02-24 07:27] #22 closed

[2018-02-24 11:29] thyrlian commented on #59
Sorry, my bad, that would increase the complexity.

And now I just remembered that actually there is already a simple alternative solution in place.  Just like mentioned in README:

[code]

Similarly, you can use the built-in [`RegexTemplate.NOT_EMPTY`](https://github.com/thyrlian/AwesomeValidation/blob/master/library/src/main/java/com/basgeekball/awesomevalidation/utility/RegexTemplate.java).

[2018-02-24 11:29] #59 closed

[2018-05-02 07:01] Sumit-Chakole opened #60 "Annotation support required"
Add Validation code is too verbose, may you add annotation support here

[2018-05-02 07:01] Sumit-Chakole opened #61 "Kotlin Samples"
Sample usage on how to use this with Kotlin is missing!

[2018-05-09 14:37] pedrovilela opened #62 "Crash when triggering .validate() twice"
I got this exception when user clicking validate button twice

E/AndroidRuntime: FATAL EXCEPTION: main
                  Process: br.com.moneto, PID: 19109
                  java.lang.IllegalStateException: The specified child already has a parent. You must call removeView() on the child's parent first.
                      at android.view.ViewGroup.addViewInner(ViewGroup.java:4937)

[2018-05-10 14:05] thyrlian commented on #62
Actually in the library's [code](https://github.com/thyrlian/AwesomeValidation/blob/master/library/src/main/java/com/basgeekball/awesomevalidation/utility/ViewsInfo.java#L27), it `restoreViews` only when the ViewGroup is not original (`!mIsOriginal`).  I can imagine the only possibility of crashing here is it runs into race condition - calling multi-times in parallel.

I can try to investigate cod

[2018-05-17 11:57] DivyeshKalotra commented on #30
@sunil-singh-chaudhary  its cause because you ap <item name="android:textColorHighlight">@android:color/holo_red_dark</item>
        <item name="android:textColorLink">@android:color/holo_red_light</item>ply  theme and don't use these colors in theme

[2018-05-25 08:34] itryp opened #63 "Custom error color on TEXT_INPUT_LAYOUT"
Hi,

You are using your own style on the class TextInputLayoutValidator : https://github.com/thyrlian/AwesomeValidation/blob/7c7681f95bfa4f79b442f36b6b84da1260f07f81/library/src/main/java/com/basgeekball/awesomevalidation/validators/TextInputLayoutValidator.java#L17

Using TEXT_INPUT_LAYOUT, we cannot use the application's style for the error message color because it's overrided by your own style.

[2018-05-25 10:06] thyrlian commented on #63
Yep, you're right, it's using its own style, which actually only contains a color attribute:
https://github.com/thyrlian/AwesomeValidation/blob/master/library/src/main/res/values/styles.xml#L4

Could you please help create a PR for this?  Make the color settable for `AwesomeValidation` object with `TEXT_INPUT_LAYOUT ` type.  Thanks in advance.

[2018-05-28 20:06] thyrlian commented on #63
Thanks for the PR, I just checked and merged.  Will close this issue.

But please keep in mind that this fix will not be available until next release.  Or you can simply add the dependency from `JitPack` by using the specific git commit hash version (please check the README for more details).

[2018-05-28 20:06] #63 closed

[2018-05-29 15:14] itryp commented on #63
Thank you for merging and for your work on this awesome validator. If it can help someone, to use the updated version with the last commit :

 implementation 'com.github.thyrlian:AwesomeValidation:da0d0fa1fba88c64f97bfed2f81adfede8c82bbc'

[2018-06-17 09:55] myeduapp opened #65 "Validation working for only the first identical fragment"
I have a activity where number of identical fragments are present with each having TextInputLayout validation.

I am having below code in each fragment.

[code]

Fragments are iterated and validated with below code:

[code]

But validation is performed only on first fragment.

How to handle this issue??

[2018-06-19 22:21] thyrlian commented on #65
The library is fully capable of handling views from multiple fragments, just like the [example in demo project](https://github.com/thyrlian/AwesomeValidation/blob/master/demo/src/main/res/layout/activity_demo.xml#L53-L63).

And the reason why it doesn't work for your case, is as you addressed: **identical resource ids**.

Sorry to tell, but it's by design.  I didn't think about such case at all.

[2018-06-25 20:46] #65 closed

[2018-06-29 08:47] thyrlian commented on #60
Not everything needs Annotation.

Add validation code is already dead simple (one-liner), annotation won't help much.

[code]

Thanks anyway.

[2018-06-29 08:47] #60 closed

[2018-07-01 11:32] SunilThombare opened #66 "Problem when using another language.."
The validation from a-z or A-Z is not working when using another language input. Which does not contain these alphabets.
Please help
SUNIL THOMBARE, INDIA, Pune +91-9423009650

[2018-07-01 11:45] thyrlian commented on #66
Sorry to hear that.  But could you be more specific how to reproduce the issue.  Would be great to show some code snippet, or even the project repository if possible.  Thanks.

[2018-07-01 12:53] SunilThombare commented on #66
Thanks a lot lot lot for your so so so quick response. Really overwhelmed
with your response. The first and foremost thing I would like is to
CONGRATULATE for the awesome work that you have done for the developers, (I
am a novice). The problem that I have faced is that just :

in the validation designed by you we can use only ENGLISH alphabets and
special characters. Suppose I change the language

[2018-07-01 18:52] thyrlian commented on #66
Thanks a lot for your compliment, and I really appreciate your feedback.

Sorry about my knowledge in Marathi, have you tried building your own regex to validate the user input, instead of using the built-in ones?  **And in order to match Marathi charaters, you need to check specified Unicode block.**  Please google `marathi regex` or `unicode regex` for more examples.  This library just helps you

[2018-07-02 12:44] SunilThombare commented on #66
Thanks a lot, Sir, you are perfectly right, the solution WORKED.
Thanks a lot again.

On Mon, Jul 2, 2018 at 12:22 AM, Jing Li <notifications@github.com> wrote:

[2018-07-02 15:55] thyrlian commented on #66
Good to hear it's working for you :)

[2018-07-02 15:55] #66 closed

[2018-07-02 16:38] SunilThombare commented on #66
Thanks a lot. Can I expect some more help, regarding payment gateway
(instamojo) ? I am stuck over there.

On Mon, Jul 2, 2018 at 9:25 PM, Jing Li <notifications@github.com> wrote:

[2018-07-02 16:40] thyrlian commented on #66
Sorry @SunilThombare but that is out of my knowledge and off topic.  You should try ask on stackoverflow.

[2018-07-02 16:41] SunilThombare commented on #66
Ok thanks, thanks a lot. Enjoy.

Sent from Mail for Windows 10

From: Jing Li
Sent: Monday, July 2, 2018 10:10 PM
To: thyrlian/AwesomeValidation
Cc: SunilThombare; Mention
Subject: Re: [thyrlian/AwesomeValidation] Problem when using anotherlanguage.. (#66)

Sorry @SunilThombare but that is out of my knowledge and off topic. You should try ask on stackoverflow.
—
You are receiving this because you

[2018-07-28 21:12] Hitch opened #67 "Unresolved reference: setTextInputLayoutErrorTextAppearance"
all working fine , but TEXT_INPUT_LAYOUT having issue with setTextInputLayoutErrorTextAppearance
Check image below
![untitled](https://user-images.githubusercontent.com/16507765/43360708-b28debd2-92bb-11e8-8321-0582eb1bd5a8.jpg)

[2018-07-30 01:38] thyrlian commented on #67
Hi @Hitch, you're right.  It's because `setTextInputLayoutErrorTextAppearance` is a new API which was added recently, and there is no release for that yet (sorry for my bad).   Nevertheless, you can still use the feature by importing the dependency as below (import the project commit including this code change):

[code]

Thanks for reporting the issue, will release soon to "fix it".

[2018-08-12 06:34] thyrlian commented on #67
Hi @Hitch, v4.2 was just tested and released.  You can simply grab [it](https://bintray.com/thyrlian/android-libraries/com.basgeekball.awesomevalidation/4.2) by:

[code]

[2018-08-12 06:34] #67 closed

[2018-08-18 16:10] FiorikaSW opened #68 "Add simple custom validation function"
The library is really helpfull. But it is not very clear how to create a custom validation function from the documentation. It seems not to have the  SimpleCustomValidation interface. Should I create it?

[2018-08-19 06:46] thyrlian commented on #68
I don't know why you're saying "it is not very clear"?

As the README doc clearly pointed out: after you import the dependency by `implementation 'com.basgeekball:awesome-validation:4.2'`, the [`SimpleCustomValidation`](https://github.com/thyrlian/AwesomeValidation/blob/master/library/src/main/java/com/basgeekball/awesomevalidation/utility/custom/SimpleCustomValidation.java) interface will be avai

[2018-08-19 06:46] #68 closed

[2018-09-09 21:28] ChinHairSaintClair opened #69 "Single validation removal"
Good day,

I have a situation where I want to remove a specific validation item when no text is entered in that specific field.
The field is optional, however it should be validated if something is entered.

Kind regards

[2018-09-09 21:43] thyrlian commented on #69
Hi @ChinHairSaintClair, that is easy - just use regular expression, check if the input is either non_empty or valid.

[2018-09-09 21:43] #69 closed

[2018-10-11 16:24] DohaBasem opened #70 "Error: Program type already present: com.google.thirdparty.publicsuffix.PublicSuffixPatterns"
After adding the library dependency to my app gradle ,I got this error  "Error: Program type already present: com.google.thirdparty.publicsuffix.PublicSuffixPatterns" .I am using Android Studio 3.2 and build tools 28.0.2 . Any help or explanation for the cause of this error is highly appreciated as I need this urgently.

[2018-10-14 05:52] thyrlian commented on #70
Please use `gradlew <your_app_module>:dependencies` to list all your dependencies, or use `gradlew lib:dependencies` to list this library's dependencies (it seems like from *guava*).  Find out which one uses `com.google.thirdparty.publicsuffix`.

Then try to exclude the module within one of it, from the guava implementation.

[2018-10-16 12:48] #70 closed

[2019-02-04 14:22] tarek-xx opened #71 "custom dialog box"
can i use awesomevalidation with custom dialog box?

[2019-02-04 16:56] thyrlian commented on #71
Please check the [sample code](https://github.com/thyrlian/AwesomeValidation#sample-code), it supports simple custom validator function and custom validator function.

[2019-02-04 16:56] #71 closed

[2019-05-14 16:10] carlos-mg89 commented on #62
I'm not sure if the same that happened to @pedrovilela is happening to me, but the thing is that I get the crash he's describing if I run 2 times the clear method of the `AwesomeValidation` object.

Aside from that, I'm seeing the validation errors as many times as I hit on `validate()`. I've attached a screenshot.

I just want to validate my form (simple form, 3 fields), but every time I press on

[2019-05-14 16:12] carlos-mg89 commented on #62
It only happens with the UNDERLABEL version. With other validation styles works like a charm.

[2019-05-14 17:48] thyrlian commented on #62
Thanks @carlos-mg89 for reporting it.  May I ask where your above code snippet is triggered please?  Could you please also divide your code into different places?  For instance, the initialization of AwesomeValidation and addValidation at the beginning of the activity, then validate() inside some onClick method?

[2019-05-21 06:58] RayyanTahir opened #73 "Individual Validation On Losing Focus"
Hi, thank you for this awesome library. I wanted to know if there was a way to validate individual edittexts when their focus is lost.

[2019-05-21 10:57] thyrlian commented on #73
Thank you.

Actually you have a quite special use case.  But it should be achievable by using `CustomValidation`.  Something like below:

[code]

Just give a try and let me know if it works or not.

[2019-06-01 09:38] thyrlian commented on #73
Hi @RayyanTahir, any news?

[2019-06-08 08:09] #73 closed

[2019-10-02 10:29] shubh10 opened #74 "Migrate to Kotlin"
Convert the code base to Kotlin to leverage features provided by the language.

[2019-10-02 11:21] thyrlian commented on #74
Yep, will try to migrate when I got time.

[2019-10-02 19:26] shubh10 commented on #74
Need a hand? Will shoot some PR your way if that's okay.

[2019-10-03 07:44] thyrlian commented on #74
Sure, please go ahead.  Thanks for your contribution.

[2019-10-05 08:02] shubh10 commented on #74
Hi @thyrlian, I have started working on migrating the project to Kotlin. Here, https://github.com/thyrlian/AwesomeValidation/pull/75 as the initial PR, I have started with few test classes.

Please let me know if you would like any changes in this. I will follow up with rest of the test cases and if all is well then I will start migrating the library as well.

[2019-10-06 07:45] thyrlian commented on #74
Thanks @shubh10 for your PR, will check once I'm free.

[2019-10-06 08:04] shubh10 commented on #74
@thyrlian sure. Take your time. I'll work on rest of the codebase once we are okay with this.

[2019-10-18 02:46] mbobic93 opened #78 "Duplicate Underlabels When Validating Twice"
I encountered an error when using the UNDERLABEL style.

` java.lang.IllegalStateException: The specified child already has a parent. You must call removeView() on the child's parent first.
        at android.view.ViewGroup.addViewInner(ViewGroup.java:5034)
        at android.view.ViewGroup.addView(ViewGroup.java:4865)
        at android.view.ViewGroup.addView(ViewGroup.java:4805)
        at com.b

[2019-10-20 19:35] thyrlian commented on #78
It sounds like a race condition.  Could you please check [this](https://github.com/thyrlian/AwesomeValidation#attention)?

[2019-10-20 20:52] mbobic93 commented on #78
I did check that link out. But it's talking Fragments. While I do have validation on my Fragments, this issue I discovered when I'm using an Activity instead. I have the validations set in in the onCreate method of that Activity, within my onClickListener of the button. I do not see the same issue occurring within my Fragment validations.

[2020-02-27 23:36] isairuiz opened #79 "validate() always return true in DialogFragment"
Hi, i'm using AwesomeValidation to validate some fields in a **DialogFragment** but everytime i click my button the **validation** method always return true. I've already put my addValidation's and my clickEventListener in **onActivityCreated** as the README suggests but still not working, also, i've check i'm usging the right activity, here is the code of onViewCreated and onActivityCreated:

[co

[2020-02-28 00:37] thyrlian commented on #79
Could you please set a breakpoint at `if(s.length()>=3){` and check what exactly do you get for `s`?  Thanks.

[2020-02-28 01:25] isairuiz commented on #79
well that's rare, the breakpoint in the place you suggest never gets called, looks like the validate() isn't calling the `new SimpleCustomValidation()`

[2020-02-28 07:04] thyrlian commented on #79
You would need to debug it to see what it is not called.

[2020-02-28 13:57] isairuiz commented on #79
I did, if i put the breakpoint somewhere else the application stops there, but in the `f(s.length()>=3){` doesn't work.

[2020-02-29 08:27] thyrlian commented on #79
You can trace inside `awesomeValidation.validate()`

[2020-03-11 20:23] #79 closed

[2020-04-06 00:03] johnsonkhristi opened #80 "Debugging is not working in Andorid studio with use of Awesome validation in debug builds"
I am experience issues with debugging with the use of awesome validation. With debug builds when minifyEnable is true breakpoints are not being hit.

The surprising thing is after removing awesome validation debugging is working.

I have a request to the library developers to please check the cause and suggest a correct solution upon it.

[2020-04-06 08:50] thyrlian commented on #80
Yes, I've configured `minifyEnabled` [here](https://github.com/thyrlian/AwesomeValidation/blob/master/library/build.gradle#L19-L24).  It is set to `false` for debug build, and `true` for release build.

Why not use `false` for this case?

You can try to import a [JitPack version](https://github.com/thyrlian/AwesomeValidation#import-as-dependency), as it should be a debug build without minifyEnable

[2020-04-06 14:32] johnsonkhristi commented on #80
I have tried two things  as you recommended:

1. With  JitPack version with minifyEnabled, it has the same issue (I think with minifyEnable it should have to work too)

2. I added the library as a modular dependency in the sample demo app to test it around and have a change configuration  (minifyEnable true in debug build).

In both cases debugging is not working, I think its issue with the progua

[2020-04-06 15:02] thyrlian commented on #80
`minifyEnable` should be false, so that it doesn't obfuscate any source code.

[2020-04-13 16:25] #80 closed

[2020-07-15 12:47] BhargaviDeviYamanuri opened #81 "Library is not building when i have viewpager2 in my project"
In my project i have viewpager2, when i try to add the awesome validation library im getting bellow error when sync now is happening.

Failed to resolve: androidx.viewpager2:viewpager2:4.2

[2020-08-29 23:07] thyrlian commented on #81
Hi @BhargaviDeviYamanuri, I apologize for my late reply.  But I can't reproduce what happened to you on my side, in fact, I don't have any issue using this library together with ViewPager2.  Below is what I've tried:

* Clone the official Android ViewPager2 sample project from [here](https://github.com/android/views-widgets-samples/tree/master/ViewPager2).
* Update all dependencies in `build.gradl

[2020-09-05 06:41] krhitesh commented on #34
Hey @thyrlian , I think this needs to be addressed. Can you please guide me on how to do it, just a high level overview will also work.

[2020-09-05 16:55] thyrlian commented on #34
Hi @krhitesh, as I mentioned, instead of having two independent regex, please combine the matching rules into one regex, which could fulfill the requirements from both.

[2020-09-07 20:09] #81 closed

[2020-09-21 07:47] NomanAziz51 opened #82 "Clear() function don't clear the added validation or remove validation."
I have a checkbox which hiding some fields when the user checked hidden layout appear and add validation on the field but when the user unchecked it doesn't remove and still making errors on hidden fields.

[code]

[2020-09-21 07:51] thyrlian commented on #82
Hi @NomanAziz51, sorry but it's a bit hard for me to imagine based on only this small chunk of code snippet.  It would be great if you could post some screenshots (e.g. before validation, after validation, probably with some annotation to point out where the problem is).  Thank you.

[2020-09-21 09:00] NomanAziz51 commented on #82
![ss1](https://user-images.githubusercontent.com/54615930/93748051-0cf13780-fc11-11ea-8a21-4207f6af34cf.jpeg)
![ss](https://user-images.githubusercontent.com/54615930/93748069-14184580-fc11-11ea-8e93-e53b867aff91.jpeg)

As shown in these screenshots I have a joint applicant checkbox which is used to hide/display joint applicant fields when I checked the checkbox validation added on such field, but

[2020-09-22 16:10] thyrlian commented on #82
Got it.

It is because although those fields have been hidden (after clicking the checkbox), the validation connection is still open, such as `mAwesomeValidation.addValidation(getActivity(), R.id....`, no `clear()` is triggered.

You can either call `clear()` manually.  Or having two AwesomeValidation instances, make an dedicated one for below joint part, thus when clicking the checkbox, it should

[2020-10-12 09:56] #82 closed

[2020-10-13 07:51] chathuraed opened #83 "Validation always returns true in FragmentActivity"
I coded a submit form inside DialogFragment. after the button pressed it always returns true. How can I use this validation in FragmentActivity

[2020-11-10 18:33] Sabutori commented on #33
When will this issue be fixed?

[2020-11-10 18:37] thyrlian commented on #33
@Sabutori probably not, at least it won't be fixed by me.  As mentioned earlier, I just could not find a solution for this back in time, but also get no time to check this for the moment.  Sorry for giving such a negative answer.

[2021-01-04 11:15] temirnurdin commented on #74
@thyrlian Here is new PR: #84

[2021-01-10 18:13] shbhmnk commented on #74
Hey @temirnurdin could you please review https://github.com/thyrlian/AwesomeValidation/pull/75 whenever you get a chance

[2021-03-11 16:15] PhilippNowak96 commented on #83
@chathuraed Can you show your usage of `addValidation(...)`? I experienced the same issue but only when I use for example the one with the `Activity` as the first parameter. Try to use the `addValidation(TextInputLayout, Pattern, String)` instead (or any other suitable method signature). This worked in my case.

[2021-03-31 09:31] lokendra45 commented on #35
Cannot resolve method 'addValidation(androidx.fragment.app.FragmentActivity, int, int)' . Error Throw

[2021-04-24 11:12] om26er opened #85 "Release to maven central"
JCenter/Bintray is going away. Please upload AwesomeValidation to maven central

[2021-04-24 12:50] thyrlian commented on #85
Yep, was aware of that, planned to do it but haven't got time, will do.  Thanks for the reminder.

[2021-04-28 16:06] thyrlian commented on #3
Will publish to Maven Central:
https://issues.sonatype.org/browse/OSSRH-68174

[2021-04-28 16:06] thyrlian commented on #85
Will publish to Maven Central:
https://issues.sonatype.org/browse/OSSRH-68174

https://github.com/thyrlian/AwesomeValidation/issues/3

[2021-05-05 02:24] thyrlian commented on #85
Migrated all previous versions from Bintray to [Maven Central](https://search.maven.org/artifact/com.basgeekball/awesome-validation), also released a new version [4.3](https://github.com/thyrlian/AwesomeValidation/releases/tag/v4.3).

[2021-05-05 02:24] #85 closed

[2021-05-19 11:52] rk8339811 opened #86 "Help creating Regex for custom use cases"
Hi,

In my Android App, I am planning to use this Library for validating user input such as Email, name, etc. This library provides an option to validate the input with custom parameters by providing a custom Regex.

This is a great, simple, and easy-to-use library.

I am new to the Regex topic hence wanted help building Regex for the below use cases:

**Name:** Min 4 characters and Max 50 Charact

[2022-03-28 07:39] FALL1N1dev opened #88 "Email validation issue"
When there is space left in the email address edit text either at the start or end **_awesomeValidation.validate()_**  will return false even if the entered email address is correct. This is an issue esp.  when autofill option for the edit text is used.
This could have been avoided if the data from edit text retrieved by the library is by editText.getText().toString().toTrim();

[2022-03-28 10:22] thyrlian commented on #88
Hi @FALL1N1dev, thank you for raising it up.

So your concern is that the leading/trailing spaces are not trimmed off during validation.

By design, we'd like to do it this way (no trim).  I'll explain why below:
* There are cases where leading/trailing symbols(including spaces) are meaningful, we don't wanna make decisions on behalf of the developer who uses this library.
* **Consistency**: what

[2022-03-30 13:28] thyrlian commented on #88
I'll close this issue if there is no further input.  Thanks.

[2022-03-31 07:51] FALL1N1dev commented on #88
@thyrlian
No, I will customize the  regex used for validation.
Thank you.

[2022-03-31 07:51] #88 closed

[2022-04-01 09:50] thyrlian commented on #86
Thanks for using the library, and sorry for my late response.

I believe that in the past few months, you've managed to compose regex for the above cases.  And I just want to mention as well that there are many online regex editor tools that you can utilize with a trial-and-error approach (e.g.: [Regular Expression Test Page for Java](https://www.regexplanet.com/advanced/java/index.html)).

Happy

[2022-04-01 09:50] #86 closed

[2022-05-18 15:17] XiaoRanLiu3119 opened #90 "The listener for all validation results"
How can I get the listener for all validation results to control the button clickable

[2022-05-19 11:46] thyrlian commented on #90
Hey @XiaoRanLiu3119

You can take a look at the [example in README](https://github.com/thyrlian/AwesomeValidation#sample-code) or read the source code directly.  It's quite straightforward.

* Just trigger the validation by `mAwesomeValidation.validate()`, which would highlight the invalid field(s), and most importantly, the `validate()` method returns a boolean if all fields passed or any of them

[2022-05-19 14:35] #90 closed, assigned to nobody

[2022-10-26 11:49] alberto-diaz15 opened #91 "Doesn't AwesomeValidation works on DialogFragments?"
I have implemented AwesomeValidation on other Fragment classes (moving .validate() to onViewCreated() instead of onActivityCreated as it's now deprecated - that should be changed in README- ). But whenever I try to implement it on DialogFragments it does nothing.

Do I need to implement the method in a different way if it's a DialogFragment or is AwesomeValidation only usable in Activity and Fragm